/* フォント読み込み */
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");

/* 共通設定 ---------------------------------- */

/* カスタムプロパティ color: ver(--color-gray)って感じで使える！ */

:root {
  /* フォント */
  --font-Khand: "Khand", sans-serif;
  --font-kiwi-maru: "Kiwi Maru", serif;

  /* 文字の大きさ */
  --font-size-xl: 48px;
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 13px;

  /* 色 */
  --color-white: #fff;
  --color-gray: #868291;
  --color-lightgray: #d9d9d9;
  --color-blue-purple: #91a7f3;
  --color-pink: #fdb0b0;
}

/* 他共通設定 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-kiwi-maru);
  font-weight: 400;
  font-style: normal;
  color: var(--color-gray);
  user-select: none;
}

img {
  max-width: 100%;
}

ol {
    padding-left: 0;
    list-style: none;
}

/* ブロック ---------------------------------- */

body {
  margin: 0;
}

main {
  height: 100%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  width: 375px;
  height: 100vh;
}

.contents-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.button-field {
  padding-top: 40px;
}

.two-button-field button:first-child {
  margin-bottom: 8px;
}

.two-button-field.row {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.two-button-field.row button:first-child {
    margin-bottom: 0;
}

.menu-field {
  width: max-content;
  position: absolute;
  bottom: 1em;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* PC用画面拡大設定 */

/* @media (min-width: 527px) {
  .container {
    width: 100%;
  }
} */


/* パーツ ---------------------------------- */

a {
    text-decoration: none;
    color: var(--color-blue-purple);
    transition: filter 0.2s ease-in;
}

a:hover {
  filter: brightness(1.2);
}

.text-blue {
  color: var(--color-blue-purple);
}

.text-pink {
  color: var(--color-pink);
}

.text-button {
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--color-blue-purple);
  transition: filter 0.2s ease-in;
}

.text-button:hover {
    filter: brightness(1.1);
  }

.button-field .text-button {
  margin-top: 13px;
}

button, .button {
  display: block;
  width: 156px;
  height: 49px;
  border: none;
  border-radius: 30px;
  padding: 8px;
  font-size: var(--font-size-m);
  line-height: 31px;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

button.blue-button, .button.blue-button {
  background: var(--color-blue-purple);
  color: var(--color-white);
}

button.blue-button:hover, .button.blue-button:hover {
  background: #6e8fe6;
}

button.white-button, .button.white-button {
  background: var(--color-white);
  color: var(--color-blue-purple);
}

button.white-button:hover, .button.white-button:hover{
  background: #f2f2f2;
}

button.white-button-grass, .button.white-button-grass{
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 4px 4px 80px rgba(218, 218, 218, 0.15);
  backdrop-filter: blur(20px);
  color: var(--color-blue-purple);
}

button.white-button-grass:hover, .button.white-button-grass:hover{
  filter: brightness(0.9);
}

.input-field input, select {
  display: block;
  width: 310px;
  height: 45px;
  background: var(--color-white);
  border: none;
  border-radius: 30px;
  padding: 11px 29px;
  font-size: 16px;
}

.input-field input:last-child {
  margin-bottom: 0;
}

input::placeholder {
  color: var(--color-lightgray);
}

input:focus, select:focus {
  outline: none;
  background-color: #e5e9f8;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: var(--color-blue-purple);
}

.select-box {
    position: relative;
}

.select-box::before {
    content: "▼";
    color: var(--color-lightgray);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

select {
    -webkit-appearance: none;
    appearance: none; 
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
}

.select-wrapper {
    margin-bottom: 2em;
}

.logo {
  text-align: center;
}

.attention {
  height: 15px;
  color: var(--color-pink);
  font-size: var(--font-size-s);
}

.head-text {
  font-size: var(--font-size-m);
  text-align: center;
  margin-bottom: 3em;
}

.head-text.blue {
    color: var(--color-blue-purple);
    margin-bottom: 1em;
}

.head-text span {
  color: var(--color-blue-purple);
}

.box {
    width: 90%;
    margin: 0 auto 2em;
}

.text-area {
    margin-bottom: 2em;
}

.text {
    margin-bottom: 1em;
}

.san {
  font-size: var(--font-size-s);
}

/* メニューボタン */

.menu-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--color-white);
  font-size: 30px;
  border-radius: 50%;
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 4px 4px 40px rgba(145, 167, 243, 0.5);
  backdrop-filter: blur(20px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-button:hover {
  background-color: var(--color-blue-purple);
}

.help-box {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.help-box.on {
  visibility: visible;
  opacity: 1;
}

.menu-button img {
  width: 25px;
}

/*  パーツ ---------------------------------- */

/* まる基本 */
.circle {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  backdrop-filter: blur(20px);
  box-shadow: 4px 4px 80px rgba(218, 218, 218, 0.15);
  display: grid;
  place-items: center;
  text-align: center;
}

.circle.white {
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.55)
  );
  border: 0 solid rgba(255, 255, 255, 0.1);
}

.circle.blue {
  background: linear-gradient(
    179.96deg,
    rgba(145, 167, 243, 0.8),
    rgba(145, 167, 243, 0.15)
  );
}

.circle.green {
  background: linear-gradient(
    179.96deg,
    rgba(192, 249, 208, 0.8),
    rgba(192, 249, 208, 0.15)
  );
}

.circle.orange {
  background: linear-gradient(
    179.96deg,
    rgba(253, 232, 176, 0.8),
    rgba(253, 232, 176, 0.15)
  );
}

.circle.skyblue {
  background: linear-gradient(
    179.96deg,
    rgba(145, 231, 243, 0.8),
    rgba(145, 231, 243, 0.15)
  );
}

.circle.purple {
  background: linear-gradient(
    179.96deg,
    rgba(218, 188, 255, 0.8),
    rgba(218, 188, 255, 0.15)
  );
}

.circle.yellow {
  background: linear-gradient(
    179.96deg,
    rgba(253, 250, 176, 0.8),
    rgba(253, 250, 176, 0.15)
  );
}

.circle.red {
  background: linear-gradient(
    179.96deg,
    rgba(253, 176, 176, 0.8),
    rgba(253, 176, 176, 0.15)
  );
}

.circle.pink {
  background: linear-gradient(
    179.96deg,
    rgba(246, 158, 200, 0.8),
    rgba(246, 158, 200, 0.15)
  );
}

.circle.gray {
  background: linear-gradient(
    179.96deg,
    rgba(217, 217, 217, 0.8),
    rgba(217, 217, 217, 0.15)
  );
}

.circle.lightblue {
  background: linear-gradient(
    179.96deg,
    rgba(188, 215, 255, 0.8),
    rgba(188, 215, 255, 0.15)
  );
}

/*  背景 ----------------------------------
    グラデーション 黄色 */

.bg-yellow {
  background-color: hsla(340, 100%, 92%, 1);
  background-image: radial-gradient(
      at 87% 86%,
      hsla(172, 83%, 78%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, hsla(44, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 72%, hsla(145, 64%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 47% 12%, hsla(310, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 46% 23%, hsla(30, 70%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 0%, hsla(212, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 71%, hsla(178, 100%, 75%, 0.65) 0px, transparent 50%);
}

/* グラデーション 青色 */
.bg-blue {
  background-color: hsla(217, 58%, 87%, 1);
  background-image: radial-gradient(
      at 41% 35%,
      hsla(187, 100%, 85%, 0.33) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 1%, hsla(188, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 98%, hsla(187, 100%, 95%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 98%, hsla(287, 100%, 94%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 57%, hsla(218, 76%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 98%, hsla(311, 8%, 65%, 0.55) 0px, transparent 50%),
    radial-gradient(at 4% 2%, hsla(222, 76%, 78%, 1) 0px, transparent 50%);
}

/* 背景 大きなまる */

.bg-circle {
  position: absolute;
  display: grid;
  place-items: center;
  width: 690px;
  height: 690px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50%;
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 4px 4px 80px rgba(218, 218, 218, 0.15);
  backdrop-filter: blur(20px);
  border: 0 solid rgba(255, 255, 255, 0.1);
}

/* 背景 小さなまる */
.bg-circle-small {
  position: absolute;
  display: grid;
  place-items: center;
  width: 350px;
  height: 350px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50%;
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 4px 4px 80px rgba(218, 218, 218, 0.15);
  backdrop-filter: blur(20px);
  border: 0 solid rgba(255, 255, 255, 0.1);
}

/* 背景 四角 */

.bg-rect {
  display: grid;
  place-items: center;
  align-items: start;
  width: 90%;
  height: 80vh;
  border-radius: 20px;
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 4px 4px 80px rgba(218, 218, 218, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: auto;
  padding-top: 1em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-rect::-webkit-scrollbar {
  display: none;
}

/* 背景 小さな四角 */

.bg-rect-small {
  position: absolute;
  bottom: 4em;
  display: grid;
  place-items: center;
  width: 270px;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: 4px 4px 80px rgba(218, 218, 218, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: auto;
}

.bg-rect-small p {
  width: 80%;
  font-size: var(--font-size-s);
  color: var(--color-gray);
  text-align: left;
}

.bg-rect-small span {
  color: var(--color-blue-purple);
}

/* ボックス 小さな四角 白の濃度が高く、↑のうちいずれかに内包されているもの */

.bg-rect-small.white {
    position: static;
    background: linear-gradient(
        179.96deg,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.55)
      );
}

/* リスト形式の四角 */
.bg-rect-small.white.list {
    height: 69px;
    background-image: url(../../public/icon-arrow.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 15px;
    padding: 0;
}

.bg-rect-small.white.list a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    line-height: 32px;
    color: var(--color-gray);
    transition: color 0.2s ease-in-out;
}

.bg-rect-small.white.list a:hover {
    color: var(--color-blue-purple);
}



/* ログイン・新規登録 ---------------------------------- */

header.index img.logo {
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 209px;
}

.index .contents-wrapper {
  margin-top: 80px;
}

.index .bg-circle {
  align-items: start;
  padding-top: 5em;
  top: 0;
}

.index .circle.white {
  position: relative;
  margin: 80px auto 0;
}

.index .input-field input {
  margin: 20px auto 5px;
}

/* メニュー ----------------------------------  */

.menu .logo {
  margin-bottom: 2em;
}

.menu p {
  color: var(--color-white);
}

.menu .circle.blue {
  letter-spacing: 0.25em;
  align-content: center;
  gap: 1em;
}

.title-button-top {
  width: max-content;
  margin: auto;
}

.title-button-top .circle.blue {
  width: 231px;
  height: 231px;
  font-size: var(--font-size-l);
}

.title-button-top .circle.blue img {
  width: 78px;
}

.title-button-bottom {
  margin-top: 1em;
  display: flex;
  gap: 0.8em;
}

.title-button-bottom .circle.blue {
  font-size: var(--font-size-s);
}

.title-button-bottom .circle.blue img {
  width: 25px;
}

/* チュートリアル ---------------------------------- */

.tutorial .bg-rect {
  padding-top: 0;
  align-items: center;
  height: 95vh;
}

.tutorial .logo p {
  color: var(--color-blue-purple);
  font-size: var(--font-size-xl);
  font-family: var(--font-Khand);
  text-transform: uppercase;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
}

.tutorial .logo p.text-pink {
    color: var(--color-pink);
}

.tutorial .description {
  text-align: center;
}

.tutorial .description img {
  width: 111px;
}

.tutorial .description p {
  width: 80%;
  font-size: var(--font-size-m);
  letter-spacing: 0.05em;
  text-align: justify;
  margin: 1em auto 2em;
}

.page-nation {
  display: flex;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
  margin: 1em 0 4em;
}

.page-nation span {
  display: inline-block;
  font-size: 10px;
  color: var(--color-lightgray);
}

.page-nation span.current {
  font-size: 15px;
  color: var(--color-blue-purple);
}

/* 大切なこと 登録 ---------------------------------- */

.principle .input-field {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0.2em;
}

.principle .attention {
  margin-bottom: 1em;
}

.principle .input-field input {
  width: 80%;
  margin: 0;
}

.principle nav.menu-field {
  right: 1.2em;
}

.genkidama .circle {
    position: absolute;
    color: var(--color-white);
    font-size: var(--font-size-s);
    /* opacity: 0; */
}

.genkidama .circle.blue {
    top: 510px;
    left: 10px;
}

.genkidama .circle.green {
    top: 10px;
    right: 30px;
}

.genkidama .circle.orange {
    top: 10px;
    left: 40px;
}

.genkidama .circle.skyblue {
    top: 110px;
    left: 140px;
}

.genkidama .circle.purple {
    bottom: 130px;
    left: 130px;
}

.genkidama .circle.yellow {
    top: 150px;
    left: 10px;
}

.genkidama .circle.red {
    top: 170px;
    right: 15px;
}

.genkidama .circle.pink {
    top: 520px;
    right: 10px;
}

.genkidama .circle.gray {
    bottom: 60px;
    left: 30px;
}

.genkidama .circle.lightblue {
    bottom: 50px;
    right: 40px;
}


/* けんか ---------------------------------- */

.conversation .head-text.first-step {
  height: 178px;
  margin-bottom: 0;
}


/* まだ足すところがある */


/* 仲直りレポート ---------------------------------- */

.report .bg-rect-small {
    display: flex;
    padding: 1em 2em;
    width: 300px;
    margin-bottom: 1em;
}

.day-and-title {
    flex: 1.5;
}

.report p.day {
    margin-bottom: 1em;
}

.report p.day::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../../public/icon-flower.png);
    background-size: contain;
    margin-right: 0.5em;
}

.report p.report-title {
    font-size: var(--font-size-m);
}

.progress {
    flex: 0.5;
    text-align: right;
}

.progress img {
    filter:drop-shadow(0px 0px 20px rgba(253, 176, 176, 0.15));
}

.report .todo {
    margin-bottom: 2em;
}

.report .todo label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

/* 設定 ---------------------------------- */

/* メール通知設定 */

.setting .head-text {
    font-size: var(--font-size-l);
}

/* アンケート結果 */
.bg-rect-small.white.box {
  display: block;
  position: static;
  width: auto;
  height: auto;
  background: linear-gradient(
      179.96deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.55)
    );
}